<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <title>Sporty Shoes</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-collapse collapse">
            <a href="home">Home</a>
            <a href="login">Login/Signup</a>
            <a href="dashboard">Dashboard</a>
            <a href="cart">Cart</a>
            <a href="logout">Logout</a>
            <a href="editprofile">Edit Profile</a>
            <a href="memberpurchases">Your Orders</a>
        </div>
    </div>
</nav>
</body>
</html>


