<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sporty Shoes</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-collapse collapse">
            <a th:href="@{/home/allProducts}">Home</a>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login_user}">Login</a>
                <a th:href="@{/registeruser}">Signup</a>
            </div>
            <a th:href="@{/admin_dashboard}">Admin Dashboard</a>
            <a th:href="@{/registeradmin}">Register Admin</a>
            <a th:href="@{/user_dashboard}">User Dashboard</a>
            <a th:href="@{/cart}">Cart</a>
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
            <a th:href="@{/user_edit_profile}">Edit Profile</a>
            <a th:href="@{/memberpurchases}">Your Orders</a>
        </div>
    </div>
</nav>
</body>
</html>


