<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <title>Sporty Shoes</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-collapse collapse">
            <a th:href="@{/home/allProducts}">Home</a>
            <a th:href="@{/userlogin}">Login</a>
            <a th:href="@{/register}">Signup</a>
            <a th:href="@{/dashboard}">Dashboard</a>
            <a href="cart">Cart</a>
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
            <a href="editprofile">Edit Profile</a>
            <a href="memberpurchases">Your Orders</a>
        </div>
    </div>
</nav>
</body>
</html>


