<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<div th:replace="fragments/admin-header :: header">&nbsp;</div>
<body>
<form method="POST" th:action="@{/admin_process_update}" id="editprofileForm">

    <label for="username">Email id</label>
    <input type="email" name="username" th:value="${admin.getUsername()}"/><br/>

    <label for="password">Password</label>
    <input type="password" name="password"/><br/>

    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm"/><br/>

    <input type="submit" value="Update"/>
    <a th:href="@{/login_user}">Already a member? Login</a>
</form>
</body>
</html>
