<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>
<form method="POST" th:action="@{/editprofile}" id="editprofileForm">

    <label for="username">Email id</label>
    <input type="email" name="username" th:value="${user.getUsername()}"/><br/>

    <label for="password">Password</label>
    <input type="password" name="password"/><br/>

    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm"/><br/>

    <label for="firstname">First name</label>
    <input type="text" name="firstname" th:value="${user.getFirstname()}"/><br/>

    <label for="lastname">Last name</label>
    <input type="text" name="lastname" th:value="${user.getLastname()}"/><br/>

    <label for="age">Age</label>
    <input type="number" name="age" th:value="${user.getAge()}"/><br/>

    <label for="address">Address</label>
    <input type="text" name="address" th:value="${user.getAddress()}"/><br/>

    <input type="submit" value="Update"/>
    <a th:href="@{/userlogin}">Already a member? Login</a>
</form>
</body>
</html>
