<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>

<br><br>Total :
<p th:text="${purchaseList.size()}"></p> Orders:<br>
<p th:text="${totalAmount}">
<table>
    <thead>
    <tr>
        <td><b>Order ID</b></td>
        <td><b>Date</b></td>
        <td><b>Total</b></td>
        <td><b>Items</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase : ${purchaseList}">
        <td th:text="${purchase.getId()}"></td>
        <td th:text="${purchase.getDate()}"></td>
        <td th:text="${purchase.getTotal()}"></td>
<!--        <td th:text="${mapItems.get(purchase.getId())}"></td>-->
    </tr>
    </tbody>
</table>


</body>
</html>
