<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>

<br><br>Total :
<p th:text="${purchaseList.size()}"></p> Orders:<br>
<p th:text="${totalAmount}">
<table>
    <thead>
    <tr>
        <td><b>Order ID</b></td>
        <td><b>Date</b></td>
        <td><b>Total</b></td>
        <td><b>Items</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase : ${purchaseList}">
        <td th:text="${purchase.getId()}"></td>
        <td th:text="${purchase.getDate()}"></td>
        <td th:text="${purchase.getTotal()}"></td>
<!--        <td th:text="${mapItems.get(purchase.getId())}"></td>-->
        <td>
            <p th:each="purchaseitem : ${purchaseItemList}">
                <span th:text="${purchaseitem.getId()}">ID</span>
                <span th:text="${purchaseitem.getPrice()}">Price</span>
                <span th:text="${purchaseitem.getRate()}">Rate</span>
                <span th:text="${purchaseitem.getQuantity()}">Quantity</span>
                <span th:text="${purchaseitem.getProduct().getName()}">Product Name</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
