<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>
<h1>Login</h1>

<!--<div th:if="${error}">-->
<!--    Unable to login. Check your username and password.-->
<!--</div>-->

<!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
<div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>

<p>New here? Click
    <a th:href="@{/register}">here</a> to register.</p>

<!-- tag::thAction[] -->
<!--By default, Spring Security listens for login requests
at /login and expects that the username and password fields be named username and
password.-->
<form method="POST" th:action="@{/user_login}" id="loginForm">
    <!-- end::thAction[] -->
    <label for="username">Username: </label>
    <input type="email" name="username" id="username"/><br/>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/><br/>

    <input type="submit" value="Login"/>
</form>
</body>
</html>
<!-- end::all[] -->
